<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Realisations</h2>
        <hr class="small">
        <div class="row">

          {% for real in site.real %}

          <div class="col-md-6">
            <div class="portfolio-item">
              <div class="iframe-container">
                <iframe class="img-portfolio img-responsive" src="https://www.youtube.com/embed/{{ real.id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>
        <!-- /.row (nested) -->
        <a href="#" class="btn btn-dark">View More Items</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
